MODE=private
PREFIXES=.
PORT=3000
SESSION=

TZ=Africa/Nairobi

ANTICALL=off
ANTIDELETE=on
ANTIEDIT=on

AUTO_READ=off
AUTO_VIEW=on
AUTO_LIKE=on

DM_PRESENCE=
GRP_PRESENCE=

USER_LID=144595090423809

OWNER_NUMBER=919037469262
OWNER_NAME=lamawae
